{% extends 'base.html' %}

{% block title %}
Update Article
{% endblock %}

{% block body %}
<h1> Редактирование </h1>
<form action="/articles/{{article.id}}/update" method="post">
    <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            placeholder="Название статьи..."
            value="{{ article.title }}"
    > <br/>
    <textarea
            name="intro"
            id="intro"
            class="form-control"
            placeholder="Анонс..."
    >{{ article.intro }}</textarea> <br/>
    <textarea
            name="text"
            id="text"
            class="form-control"
            placeholder="Тело статьи..."
    >{{ article.text }}</textarea> <br/>
    <textarea
            name="admin"
            id="admin"
            class="form-control"
            placeholder="Комментарий администратора..."
            readonly
    ></textarea> <br/>
    <input type="submit" class="btn btn-success" value="Сохранить" style="margin-bottom: 2rem;">
</form>
{% endblock %}